@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Open Sauce Two";
    src: url("../public/assets/blog/fonts/OpenSauceTwo-Regular.ttf");
}

@font-face {
    font-family: "Open Sauce Two Medium";
    src: url("../public/assets/blog/fonts/OpenSauceTwo-Medium.ttf");
}

@font-face {
    font-family: "Open Sauce Two Bold";
    src: url("../public/assets/blog/fonts/OpenSauceTwo-Bold.ttf");
}

@font-face {
    font-family: "Pilowlava";
    src: url("../public/assets/blog/fonts/Pilowlava-Regular.otf")
}